# Pliki bazy danych SQLite
*.db
*.db-shm
*.db-wal

temp
tmp

# Wygenerowany kod przez sqlc (opcjonalne, ale zalecane)
internal/database/*.go
# lub jeśli masz w innym miejscu:
db/*.go

# Pliki binarne Go
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/build/

# Pliki testowe
*.test
*.out
coverage.txt
coverage.html

# Pliki środowiskowe (sekrety!)
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# MacOS
.DS_Store

# Logi
*.log